@model SD85_WebBookOnline.Share.ViewModels.LoginUser;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<hr />


<div class="all-Layout">
    <link rel="stylesheet" href="~/css/StyleLogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <div class="nav-menubar">
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background: transparent !important;">
                <div class="container-fluid">
                  <a class="navbar-brand" asp-action="Index" asp-controller="Home">Trang Chủ</a>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-action="All" asp-controller="Home">Gian Hàng</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Chương Trình Đặc Biệt</a>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
            </nav>
        </div>
        <div class="text-logo-login">
            <p>FpolyBook</p>
        </div>
        <section>
            <div class="box-Login">
                <form asp-action="Login">
                    <h2>SIGN IN</h2>
                    <div class="inputBox">
                        <input type="text" required="required" asp-for="Username">
                        <span>UserName</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="password" required="required" asp-for="Password">
                        <span>Password</span>
                        <i></i>
                    </div>
                    <div class="links">
                        <a href="#">Forgot Password</a>
                        <a href="#">Sign Up</a>
                    </div>
                    <input type="submit" value="LOGIN NOW">
                </form>
            </div>
        </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </div>

    
  
@* <form id="Login">
    <div class="form">
        <label>Username:</label>
        <input type="text" class="form-control" id="Username" />
    </div>
    <div class="form">
        <label>Password:</label>
        <input type="password" class="form-control" id="Password" />
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Login').on('submit', function (e) {
                e.preventDefault(); // Ngăn không cho form submit mặc định
                // Lấy giá trị từ các trường nhập liệu
                var name = $('#Username').val();
                var pass = $('#Password').val();
                var LoginUser = {
                    Username: name,
                    Password: pass,
                };
                // Gọi API để thêm danh mục
                $.ajax({
                    url: 'https://localhost:7079/api/login',
                    type: 'POST',
                    data: JSON.stringify(LoginUser),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        console.log(data);
                        localStorage.setItem('jwtToken', data);
                        window.location.href = '/Home/Test';
                    },
                    error: function (xhr, textStatus, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}
 *@
