@model SD85_WebBookOnline.Share.ViewModels.RegisterUser;

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<hr />
<div class="all-Layout">
    <link rel="stylesheet" href="~/css/StyleLogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <div class="nav-menubar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background: transparent !important;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">Trang Chủ</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="All" asp-controller="Shop">Gian Hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">Chương Trình Đặc Biệt</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="text-logo-login">
        <p>FpolyBook</p>
    </div>
    <section>
        <div class="box-Login" style="height : 680px">
            <form asp-action="Register">
                <h2>ĐĂNG KÝ THÀNH VIÊN MỚI</h2>
                <div class="inputBox">
                    <input type="text" required="required" asp-for="Username">
                    <span>UserName</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="email" required="required" asp-for="Email">
                    <span>Email</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" required="required" asp-for="Password">
                    <span>Password</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" required="required" asp-for="ConfirmPassword">
                    <span>Confirm Password</span>
                    <i></i>
                </div>
                <div class="links">
                </div>
                <input type="submit" style="margin-top : 30px" value="ĐĂNG KÝ">
            </form>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</div>
