@model IEnumerable<SD85_WebBookOnline.Share.Models.Combo>
@{
    ViewData["Title"] = "AllComboManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản Lý Combo</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/sc_combopage.js"></script>

<p>
    <a asp-action="CreateCombo" class="btn btn-primary">Create New</a>
</p>

<div class="details" style="width: 100%;">
    <div class="recentOrder">
        <div class="cardHeader">
            <h2>Danh Sách Combo</h2>
            <div class="d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-sm btn-info" id="btn-openfilter-combo"><i class="fa-solid fa-filter"></i></button>
            </div>
        </div>
        <table class="table" style="width: 100%;" id="table-combo">
            <thead>
                <tr>
                    <th style="text-align: center;">Combo Name</th>
                    <th style="text-align: center;">Price</th>
                    <th style="text-align: center;">Quantity</th>
                    <th style="text-align: center;">Status</th>
                    <th style="text-align: center;">Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center;">@item?.ComboName</td>
                            <td style="text-align: center;" class="tienv">@item?.Price</td>
                            <td style="text-align: center;">@item?.Quantity</td>
                            <td style="text-align: center;">@item?.Status</td>
                            <td style="text-align: center;">
                                <img src="~/images/@item?.Image" alt="Combo Image" width="100" height="100" />
                            </td>
                            <td style="text-align: center;">
                                <a asp-action="UpdateCombo" asp-route-id="@item?.ComboID" class="btn btn-info">Update</a>
                                <a asp-action="ComboDetail" asp-route-id="@item?.ComboID" class="btn btn-info">Details</a>
                                <form asp-action="DeleteCombo" asp-route-id="@item?.ComboID" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No combo items to display.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    // Lấy tất cả các thẻ h6 trong trang
    var h6Elements = document.querySelectorAll('.tienv');

    // Duyệt qua từng phần tử h6 và thực hiện thay đổi giá trị
    h6Elements.forEach(function (h6Element) {
        // Lấy giá trị từ phần tử
        var amount = parseFloat(h6Element.innerText);

        // Chuyển đổi giá trị thành định dạng tiền tệ và gán lại vào phần tử
        var formatted_amount = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
        h6Element.innerText = formatted_amount;

        // Hiển thị kết quả trong console
        console.log(formatted_amount);
    });
</script>

