@using SD85_WebBookOnline.Share.Models
@{
    var myCart = ViewBag.myCartItems;
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal subtotal;
    @if (ViewBag.Subtotal == null)
    {
        subtotal = 0;
    }else
    {
        subtotal = ViewBag.Subtotal;
    }
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @if (myCart == null)
                    {
                        <tr></tr>
                    }
                    else if (myCart != null)
                    {
                        @foreach (var item in myCart)
                        {
                            <tr>
                                <td class="align-middle"><img src="~/photoBooks/@item.Image" alt="" style="width: 50px;"> @item.ItemName</td>
                                <td class="align-middle price">$@item.Price</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center quantity" value="@item.Quantity">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle itemTotal">$@item.ToTal</td>
                                <td class="align-middle">
                                    <a asp-controller="Cart" asp-action="DeleteToCart" asp-route-id="@item.BookID">
                                        <button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-5" action="">
                <div class="input-group">
                    <input id="myInput" type="text" class="form-control p-4" placeholder="Voucher Code">
                    <div class="input-group-append">
                        <button onclick="pasteText()" type="button" class="btn btn-primary">
                            Apply Voucher
                        </button>
                    </div>
                </div>
            </form>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium subtotal">$@subtotal</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold finalTotal">$@(subtotal)</h5>
                    </div>
                    <a asp-action="Checkout" asp-controller="Cart" asp-area="Customer" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
    document.querySelectorAll('.btn-minus').forEach(function (button) {
        button.addEventListener('click', function () {
            let quantityInput = this.parentElement.nextElementSibling;
            let quantity = parseInt(quantityInput.value);
            if (quantity > 1) {
                quantity -= 1;
                quantityInput.value = quantity;
                updateTotal(this.parentElement.parentElement.parentElement.parentElement);
            }
            updateSubtotal();
        });
    });

    document.querySelectorAll('.btn-plus').forEach(function (button) {
        button.addEventListener('click', function () {
            let quantityInput = this.parentElement.previousElementSibling;
            let quantity = parseInt(quantityInput.value);
            quantity += 1;
            quantityInput.value = quantity;
            updateTotal(this.parentElement.parentElement.parentElement.parentElement);
            updateSubtotal();
        });
    });

    document.querySelectorAll('.quantity input').forEach(function (input) {
        input.addEventListener('change', function () {
            updateTotal(this.parentElement.parentElement.parentElement.parentElement);
            updateSubtotal();
        });
        input.addEventListener('input', function () {
            let value = parseInt(this.value);
            if (isNaN(value) || value <= 0) {
                this.value = 1;
            } else {
                this.value = value;
            }
        });

    });
    window.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('tr').forEach(function (row) {
            updateTotal(row);
        });
        updateSubtotal();
    });

    function updateTotal(row) {
        let price = parseFloat(row.querySelector('.price').innerText.replace('$', ''));
        let quantity = parseInt(row.querySelector('.quantity input').value);
        let totalCell = row.querySelector('.itemTotal');
        totalCell.innerText = '$' + (price * quantity).toFixed(2);
    }
    function updateSubtotal() {
        let subtotal = 0;
        document.querySelectorAll('.itemTotal').forEach(function (totalCell) {
            subtotal += parseFloat(totalCell.innerText.replace('$', ''));
        });
        let shipping = parseFloat(document.querySelector('.shipping').innerText.replace('$', ''));
        let finalTotal = subtotal + shipping;
        document.querySelector('.subtotal').innerText = '$' + subtotal.toFixed(2);
        document.querySelector('.finalTotal').innerText = '$' + finalTotal.toFixed(2);
    }
       //sử dụng API Clipboard
    async function pasteText() {
                try {
                    // Đọc dữ liệu từ clipboard
                    const pastedText = await navigator.clipboard.readText();
    
                    // Đặt dữ liệu vào ô input
                    document.getElementById("myInput").value = pastedText;
                } catch (error) {
                    console.error('Lỗi khi đọc dữ liệu từ clipboard: ', error);
                }
            }

</script>

