<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo thành công</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/message.css">

</head>
<body>
    <div class="success-container">
        <img src="https://cdn-icons-png.flaticon.com/512/7698/7698976.png " width="156" height="156" alt="" title="" class="img-small">
        <div class="success-message">Sản phẩm ko có đánh giá</div>
        <a asp-action="AllBookManager" asp-controller="BookManager" asp-area="Admin" class="back-to-home">OK</a>
    </div>
</body>
</html>